* {
  box-sizing: content-box;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, "Helvetica Neue", Arial, sans-serif;

}
#logo {
  width: 90px;
  height: 90px;
  float: left;
  margin-top: 5px;
  margin-bottom: auto;
  margin-left: 10px;
  margin-right: auto;
}
#logo2 {
  width: 90px;
  height: 90px;
  float: left;
  margin-top: 5px;
  margin-bottom: auto;
  margin-left: 10px;
  margin-right: auto;
}
.container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  border: #fbab40;
  height: auto;
  background-color: #000000;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  background-origin: padding-box;
  
}

.header {
  min-height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-style: normal;
  color: #00e95d;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./assets/backgroundx1280.webp);
  background-size: auto;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-origin: padding-box;
}
.more>a>button {
  background: #9c6a13;
  border-radius: 10px;
  border: none;
  width: 200px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  height: 55px;
  text-align: center;
  font-weight: 600px;
  font-size: 18px;
  line-height: 19px;
  background: rgb(46, 205, 81);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  background-image: url(./icon/favicon-32x32.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: left;
}

.ii2>a>button {
  background: #9c6a13;
  border-radius: 10px;
  border: none;
  width: 200px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  height: 55px;
  text-align: center;
  font-weight: 600px;
  font-size: 18px;
  line-height: 19px;
  background: rgb(214, 143, 36);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  background-image: url(./icon/favicon-32x32.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: left;

}

.tat2 {
  display: table;
  min-height: auto;
  min-width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  align-items: center;
  text-align: center;
}

body {
  display: block;
  background-color: #000000;
  margin-left: auto;
  margin-right: auto;
  background-image: url(./assets/backgroundx1280.webp);
  background-size: auto;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-origin: padding-box;
}
h1{
  text-align: left;
  font-size: 9px;
  color: #ee167b;
  display: flex;
  margin-bottom: auto;
  margin-top: 20px;
  margin-left: auto;
  margin-right: 10px;
  position: sticky;
  
}
div {
  width: auto;
  height: auto;
}